<h1>Datos de alumno</h1>
<hr>
<div class="row">
    <div class="container">
        <div class="col-md-12">
        
        <div class="alert alert-success animated fadeIn" role="alert" ng-show="showSuccess">Los datos han sido guardados correctamente.</div>

        <div class="alert alert-danger animated fadeIn" role="alert" ng-show="showDanger">Ha ocurrido un error. Inténtalo de nuevo más tarde.</div>

        <form ng-submit="guardarAlumno()">
          <div class="form-group" ng-hide="nuevoAlumno">
            <label for="id">Código</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Código" ng-model="alumno.codigo" readonly="readonly"/>
          </div>
         
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del alumno" ng-model="alumno.nombre" required/>
          </div>
          
          <div class="form-group">
            <label for="direccion">Dirección</label>
              <textarea class="form-control" id="direccion" name="direccion" placeholder="Dirección del alumno" ng-model="alumno.direccion" rows="5" required></textarea>
          </div>  
          
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" ng-model="alumno.telefono" ui-mask="{{tlfnMask}}" required/>
          </div>
          
          <a href="#/alumnos" class="btn btn-default"><i class="fa fa-hand-o-left"></i>&nbsp;&nbsp;Volver</a>
          
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </form>
          
        </div>
    </div>
</div>
