<h1>Datos de alumno</h1>
<hr>
<div class="row">
    <div class="container">
        <div class="col-md-12">
        
        <form action="">
          <div class="form-group">
            <label for="id">Código</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Código" ng-model="alumno.codigo" readonly="readonly"/>
          </div>
         
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" ng-model="alumno.nombre"/>
          </div>
          
          <div class="form-group">
            <label for="direccion">Dirección</label>
              <textarea class="form-control" id="direccion" name="direccion" placeholder="Dirección" ng-model="alumno.direccion" rows="5"></textarea>
          </div>  
          
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" ng-model="alumno.telefono" ui-mask="{{tlfnMask}}"/>
          </div>
          
          <a href="#/alumnos" class="btn btn-default"><i class="fa fa-hand-o-left"></i>&nbsp;&nbsp;Volver</a>
          
          <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Guardar</button>
        </form>
          
        </div>
    </div>
</div>